# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env

# IDE/editor config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock

# Pytest
htmlcov/
.cache/

# JMeter test results
*.jtl
